body{
    padding:0;
    margin: 0;
}

#container{
    background-color: #212228;
    background-image: linear-gradient(#292a30 .1em, transparent .1em), linear-gradient(90deg, #292a30 .1em, transparent .1em);
    background-size: 4em 4em;
    height: 100vh;
}

#card{
    width:400px;
    height: 400px;
    background-color: #AFDA9F;
    border-radius: 5px;
    cursor:pointer;
    position:fixed;
}

.resize-handle {
    width: 10px;
    height: 10px;
    background-color: #000;
    position: absolute;
  }
  
  .resize-handle.top-left {
    top: -5px;
    left: -5px;
    cursor: nwse-resize;
  }
  
  .resize-handle.top-right {
    top: -5px;
    right: -5px;
    cursor: nesw-resize;
  }
  
  .resize-handle.bottom-left {
    bottom: -5px;
    left: -5px;
    cursor: nesw-resize;
  }
  
  .resize-handle.bottom-right {
    bottom: -5px;
    right: -5px;
    cursor: nwse-resize;
  }
  
  .resize-handle.left, .resize-handle.right, .resize-handle.top, .resize-handle.bottom {
    background: transparent;
  }
  
  .resize-handle.left, .resize-handle.right {
    top: 0;
    bottom: 0;
    width: 5px;
    cursor: ew-resize;
  }
  
  .resize-handle.left {
    left: -5px;
  }
  
  .resize-handle.right {
    right: -5px;
  }
  
  .resize-handle.top, .resize-handle.bottom {
    left: 0;
    right: 0;
    height: 5px;
    cursor: ns-resize;
  }
  
  .resize-handle.top {
    top: -5px;
  }
  
  .resize-handle.bottom {
    bottom: -5px;
  }